.header {
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  background-color: #f5e4d3;
}

.ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.img {
  max-width: 20px;
  min-width: 16px;
}

.noDecor {
  text-decoration: none;
}
