.header-container {
  display: flex;
  align-items: center;
  background-color: #ede0d4;
  border-radius: 10px;
  width: 800px;
  height: 40px;
  padding: 10px;
  margin-top: 30px;
  margin-left: 30px;
  justify-content: space-between; /* Ensures items are spaced out from left to right */
}

.search-input {
  font-family: inherit;
  flex-grow: 1; /* Makes search input expand to fill available space */
  border: none;
  width: 500px;
  outline: none;
  background: transparent;
  font-size: 15px;
  color: #0e0d0d;
  padding: 5px;
}

.search-input::placeholder {
  color: #aaa;
  font-size: 15px;
}

.search-icon {
  background: none;
  border: none;
  cursor: pointer;
  transform: translateX(200px);
}
